.poster.mini-modal {
  opacity: 0;
  top: -9999px;
  left: -9999px;
  height: 520px;
}

.poster {
  will-change: transform;
  position: absolute;
  color: #fff;
  background-color: transparent;
  font-size: 16px;
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  opacity: 0;
}

.poster_img {
  width: 100%;
  pointer-events: none;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 6px;
}

.poster_info {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.poster_info_icons {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.poster_info_title {
  margin: 10px 10px;
}

.poster_icons_izq, .card_info_der {
  display: flex;
  align-items: center;
}

.poster_info_title {
  font-size: 24px;
}